/**=====================
     Search CSS Start
==========================**/
.search-page {
  .theme-form {
    input {
      border: 1px solid var(--theme-color);
      padding-left: 20px;
      border-radius: 10px 0 0 10px;
      flex: 1 1 auto;

      &::placeholder {
        color: $primary-color;
      }

      &:focus {
        outline: none;
      }
    }

    .input-group {
      .btn {
        line-height: 32px;
        font-size: 16px;
      }

      .form-control-plaintext {
        background: transparent;
      }
    }
  }

  h6 {
    line-height: 1.4;
  }

  .nav-link {
    font-weight: 500;
    text-transform: uppercase;
  }

  .border-tab {
    &.nav-tabs {
      .material-border {
        border-bottom-width: 1px;
      }

      .nav-item {
        .nav-link {
          font-size: 15px;
          padding: 10px 18px;
        }
      }
    }
  }

  .media {
    .media-body {
      overflow: hidden;
    }
  }

  .info-block {
    padding: 30px;
    border-radius: 15px;
    border: 1px solid $light-color;

    a {
      color: #656565;
      margin-bottom: 3px;
      display: block;
    }

    h6 {
      color: $primary-color;
    }

    +.info-block {
      margin-top: 20px;
    }
  }

  .border-tab.nav-tabs {
    align-items: left;
    justify-content: flex-end;

    .nav-item {
      width: auto;
    }
  }

  .search-links {
    h6 {
      margin-bottom: 10px;
    }
  }

  p {
    text-transform: lowercase;
    margin-bottom: 0;
    color: #a5a2a2;
  }

  ul.search-info {
    li {
      display: inline-block;
      font-size: 12px;
      line-height: 1;
      color: #586082;

      +li {
        border-left: 1px solid lighten($dark-color, 50%);
        padding-left: 8px;
        margin-left: 8px;
      }

      i {
        color: $warning-color;

        &:not(:last-child) {
          margin-right: 4px;
        }
      }
    }
  }

  #video-links {
    .embed-responsive+.embed-responsive {
      margin-top: 30px;
    }
  }
}

.search-list {
  margin-bottom: 30px;
  width: auto;
  display: inline-flex;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid $primary-color;
  border: none;

  .nav-item {
    background-color: rgba($primary-color, 0.1);

    .nav-link {
      border: none;
      padding: 0.7rem 1.5rem;
      opacity: 0.5;

      &.active {
        background-color: rgba($primary-color, 0.1);
        color: var(--theme-color);
        opacity: 1;
      }
    }

    &.show,
    &.active {
      background-color: rgba($primary-color, 0.1);
    }
  }
}

/* Common Search */
.common-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
  gap: calc(6px + (15 - 6) * ((100vw - 320px) / (1920 - 320)));
  flex-wrap: wrap;

  .form-label {
    margin: 0 15px 0 0;
  }

  input {
    width: auto;
  }
}

/* Report datepicker */
.report-filter-box {
  .datepicker-box {
    .react-datepicker-wrapper {
      width: 100%;
    }
  }

  .datepicker-box {
    position: relative;

    .react-datepicker-wrapper {
      .react-datepicker__input-container {
        .form-control {
          border-radius: 0;
        }

        .react-datepicker__calendar-icon {
          position: absolute;
          padding: 0 calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320)));
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          height: 100%;
          font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1920 - 320)));
          stroke-width: 0.7px;

          [dir="rtl"] & {
            right: unset;
            left: 0;
          }
        }
      }
    }

    .react-datepicker__tab-loop {
      .react-datepicker-popper {
        width: 100%;

        .react-datepicker__triangle {
          stroke: #eee;
        }

        &[data-placement^=bottom] {
          .react-datepicker__triangle {
            fill: #f9f9f6;
            color: #f9f9f6;
          }
        }
      }

      .react-datepicker {
        width: 100%;
        border-color: #eee;
        border-radius: 0;
        color: $theme-font-color;

        .react-datepicker__current-month,
        .react-datepicker-time__header,
        .react-datepicker-year-header {
          color: $theme-font-color;
          font-weight: bold;
          font-size: 20px;
        }

        .react-datepicker__year-read-view,
        .react-datepicker__month-read-view,
        .react-datepicker__month-year-read-view {
          font-size: 16px;
          margin-top: 7px;
          color: #4a5568;
        }

        .react-datepicker__month-container {
          float: unset;

          .react-datepicker__header {
            border-color: #eee;
            background-color: #f9f9f6;
            padding-block: 15px 8px;

            .react-datepicker__day-names {
              margin-block: 16px 0;
              display: flex;
              padding-inline: 14px;

              .react-datepicker__day-name {
                width: 100%;
                margin: 0;
                line-height: 1.3;
                height: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                font-weight: 600;
              }
            }
          }

          .react-datepicker__month {
            .react-datepicker__week {
              display: flex;
              align-items: center;
              gap: 6px;

              +.react-datepicker__week {
                margin-top: 6px;
              }

              .react-datepicker__day {
                width: 100%;
                margin: 0;
                line-height: 1.3;
                height: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                background-color: #f9f9f6;
                border-radius: 0;
                border: 1px solid #eee;
                position: relative;
                z-index: 0;

                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: var(--theme-color);
                  opacity: 0;
                  z-index: -1;
                }

                &:not([aria-disabled=true]) {
                  &:hover {
                    border-color: var(--theme-color) !important;
                    background-color: transparent !important;
                    color: var(--theme-color) !important;

                    &::before {
                      opacity: 0.13;
                    }
                  }
                }
              }

              .react-datepicker__day--keyboard-selected {
                background-color: var(--theme-color);
                color: #fff;
              }

              .react-datepicker__day--outside-month {
                opacity: 0.7;
              }
            }
          }
        }
      }

      .react-datepicker__navigation-icon {
        &::before {
          border-color: #777;
          border-style: solid;
          border-width: 2px 2px 0 0;
          content: "";
          display: block;
          height: 9px;
          position: absolute;
          top: 9px;
          width: 9px;
        }
      }
    }

    label {
      display: block;
    }

    .react-datepicker-wrapper {
      width: 100%;

      .react-datepicker__input-container {
        input {
          display: block;
          width: 100%;
          padding: 8px 20px;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #212529;
          background-color: #f9f9f6;
          background-clip: padding-box;
          border: 1px solid #eee;
          appearance: none;
          border-radius: 0.375rem;
          transition: border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;

          &:focus {
            border-color: #eee;
          }

          body.dark-only & {
            background-color: #0b141d;
            color: rgba(255, 255, 255, 0.5);
            border-color: #1d3436;
          }
        }
      }
    }
  }

  .card-body {
    .datepicker-box {
      .form-label {
        display: block;
      }

      .react-datepicker-wrapper {
        width: 100%;
        display: block;

        .react-datepicker__input-container {
          .react-datepicker__calendar-icon {
            position: absolute;
            padding: 0 calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320)));
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            height: 100%;
            font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1920 - 320)));
            stroke-width: 0.7px;
          }

          input {
            display: block;
            width: 100%;
            padding: 8px 20px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: $light-shade-silver;
            background-clip: padding-box;
            border: 1px solid $v-light-silver;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0.375rem;
            transition: border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out;

            &:focus,
            &:focus-visible {
              outline: unset;
            }
          }
        }
      }

      .react-datepicker__tab-loop {
        .react-datepicker-popper {
          width: 100%;

          .react-datepicker__triangle {
            stroke: $v-light-silver;
            fill: $light-shade-silver;
          }
        }

        .react-datepicker {
          width: 100%;
          border-color: $v-light-silver;

          .react-datepicker__month-container {
            float: unset;

            .react-datepicker__header {
              border-color: $v-light-silver;
              background-color: $light-shade-silver;
              padding-block: 15px 8px;

              .react-datepicker__day-names {
                margin-block: 16px 0;
                display: flex;
                padding-inline: 14px;

                .react-datepicker__day-name {
                  width: 100%;
                  margin: 0;
                  line-height: 1.3;
                  height: 34px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 15px;
                  font-weight: 600;
                }
              }
            }

            .react-datepicker__month {
              .react-datepicker__week {
                display: flex;
                align-items: center;
                gap: 6px;

                .react-datepicker__day {
                  width: 100%;
                  margin: 0;
                  line-height: 1.3;
                  height: 34px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 15px;
                  background-color: $light-shade-silver;
                  border-radius: 4px;
                  border: 1px solid $v-light-silver;
                  position: relative;
                  z-index: 0;

                  &.react-datepicker__day--outside-month {
                    opacity: 0.7;
                  }

                  &.react-datepicker__day--keyboard-selected {
                    background-color: var(--theme-color);
                    color: $white;
                  }

                  &.react-datepicker__day--selected {
                    color: var(--theme-color);
                    font-weight: 500;
                  }

                  &:not([aria-disabled="true"]) {
                    &:hover {
                      border-color: var(--theme-color);
                      background-color: transparent;
                      color: var(--theme-color);
                    }
                  }
                }

                +.react-datepicker__week {
                  margin-top: 6px;
                }
              }
            }
          }
        }

        .react-datepicker__navigation-icon {
          &::before {
            border-color: #777;
            border-style: solid;
            border-width: 2px 2px 0 0;
            content: "";
            display: block;
            height: 9px;
            position: absolute;
            top: 9px;
            width: 9px;
          }
        }
      }
    }
  }
}